# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out
BetSpotHostSim.X/.generated_files
BetSpotHostSim.X/build
# eide template
*.ept
*.eide-template

# mplabx 
src/config/default/harmony-manifest-success.yml
BetSpotHostSim.X/nbproject/Makefile-genesis.properties
BetSpotHostSim.X/mcc-manifest-generated-success.yml
BetSpotHostSim.X/mcc-manifest-autosave.yml
